{% extends 'layout.html' %}

{% block content %}
  <section id="todos"
           class="{{ 'complete' if is_list_completed(lst) else '' }}">
    <header>
      <h2>{{ lst.title }}</h2>
      <ul>
        <li>
          <form class="complete_all"
                action="{{ url_for('mark_all_todos_completed', list_id=lst.id) }}"
                method="post">
            <button class="check" type="submit">Complete All</button>
          </form>
        </li>
        <li>
          <a class="edit" href="{{ url_for('edit_list', list_id=lst.id) }}">Edit List</a>
        </li>
      </ul>
    </header>
    <ul>
      {% for todo in lst.todos %}
        <li class="{{'complete' if todo.completed else ''}}">
          <form action="{{ url_for('update_todo_status', list_id=lst.id, todo_id=todo.id) }}"
                method="post" class="check">
            <input type="hidden" name="completed"
                  value="{{ not todo.completed }}" />
            <button type="submit">Complete</button>
          </form>
          <h3>{{ todo.title }}</h3>
          <form class="delete"
                action="{{ url_for('delete_todo', list_id=lst.id, todo_id=todo.id) }}"
                method="post">
            <button type="submit">Delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>

  </section>

  <form action="{{ url_for('create_todo', list_id=lst.id) }}" method="post">
    <dl>
      <dt>
        <label for="todo">Enter a new todo item:</label>
      </dt>
      <dd>
        <input name="todo" id="todo" placeholder="Something to do" type="text"
               value="{{ request.form['todo'] }}">
      </dd>
    </dl>
    <fieldset class="actions">
      <input type="submit" value="Add">
    </fieldset>
  </form>
{% endblock %}

{% block header_links %}
  <a class="list" href="{{ url_for('get_lists') }}">All Lists</a>
{% endblock %}